#main{
    width: 874px;
    height: 800px;
    margin: auto;
}
#name{
    color: rgb(0, 4, 255);
    margin: auto;
    font-size:x-large;
    font-weight: lighter;
    font-style:oblique;
    text-align:left;
    line-height:75px;
    
}
table,th,td{
    border:1px solid black;
    border-collapse: collapse;
}
.table-style{
    width:874px;
}
#awards{
    line-height:2;
}